<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3.0.2"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div>
      <h3>Waktu Saat Ini</h3>
      {{ jam }}
      <h3>Pendaftaran Peserta</h3>
      <input type="text" name="nama" v-model="pendaftaran.nama" />
      <input type="number" name="umur" v-model="pendaftaran.umur" />
      <button @click="onTambahClick">Tambah</button>
    </div>
    <p v-for="(peserta, index) in daftarPeserta">
      Nama: {{ peserta.nama }}<br>
      Umur: {{ peserta.umur }}
    </p>
    <button @click="onKurangiClick">Kurangi</button>
    
  </div>
  <script src="app.js"></script>
</body>
</html>